.modal {
  position: fixed;
  background: white;
  padding: 20px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.heading {
  text-align: center;
}

.reasons {
  padding: 30px 0;
}

.reasonsList {
  overflow-y: scroll;
  height: 160px;
  border: 1px solid;
}

.reasonsList label {
  display: block;
  margin: 10px;
}

.reasons > * + * {
  margin-top: 10px;
}

.otherInput {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid;
}
